@charset "UTF-8";
/* stylelint-disable indentation, no-eol-whitespace,
   selector-combinator-space-before,
   selector-list-comma-newline-after, rule-empty-line-before, max-empty-lines,
   declaration-block-semicolon-newline-after,  declaration-empty-line-before,
   declaration-block-single-line-max-declarations,
   declaration-colon-newline-after,
   comment-empty-line-before, comment-whitespace-inside,
   block-closing-brace-newline-after, block-closing-brace-newline-before,
   block-opening-brace-newline-after,
   block-closing-brace-space-before, block-opening-brace-space-after,
   custom-property-empty-line-before, no-descending-specificity, no-duplicate-selectors,
   number-leading-zero, number-no-trailing-zeros, length-zero-no-unit, 
   color-hex-length, color-hex-case,
   declaration-block-no-duplicate-properties,
   declaration-block-no-duplicate-property-overrides,
   declaration-block-no-shorthand-property-overrides,
   selector-type-no-unknown,
   string-no-newline, block-no-empty,
   function-parentheses-newline-inside, function-comma-newline-after,
   font-family-no-missing-generic-family-keyword
*/
/* lesshint-disable newlineAfterBlock, singleLinePerProperty, importPath, propertyOrdering,
   qualifyingElement, attributeQuotes, trailingWhitespace, zeroUnit, decimalZero, maxCharPerLine */
/* @nicedarkblue: #008ab8; */
.hand {
  cursor: pointer;
}
.nomouse {
  pointer-events: none;
  user-select: none;
}
.ident-layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.inverter {
  filter: invert(1);
}
.inblk {
  display: inline-block;
}
.beetrigger {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  padding: 2px 6px;
  border-radius: 0 8px 0 0;
  cursor: pointer;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.5);
  font: 400 11px roboto condensed;
  font-size: 14px;
  font-weight: 400;
}
.beebody.u2 {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 8px 8px 0 0;
  bottom: 0;
  top: unset;
  width: auto;
  z-index: 999;
  height: auto;
}
.beebody.u2 .bfx-top {
  display: none;
}
