@charset "UTF-8";
/* stylelint-disable indentation, no-eol-whitespace,
   selector-combinator-space-before,
   selector-list-comma-newline-after, rule-empty-line-before, max-empty-lines,
   declaration-block-semicolon-newline-after,  declaration-empty-line-before,
   declaration-block-single-line-max-declarations,
   declaration-colon-newline-after,
   comment-empty-line-before, comment-whitespace-inside,
   block-closing-brace-newline-after, block-closing-brace-newline-before,
   block-opening-brace-newline-after,
   block-closing-brace-space-before, block-opening-brace-space-after,
   custom-property-empty-line-before, no-descending-specificity, no-duplicate-selectors,
   number-leading-zero, number-no-trailing-zeros, length-zero-no-unit, 
   color-hex-length, color-hex-case,
   declaration-block-no-duplicate-properties,
   declaration-block-no-duplicate-property-overrides,
   declaration-block-no-shorthand-property-overrides,
   selector-type-no-unknown,
   string-no-newline, block-no-empty,
   function-parentheses-newline-inside, function-comma-newline-after,
   font-family-no-missing-generic-family-keyword
*/
/* @nicedarkblue: #008ab8; */
.hand {
  cursor: pointer;
}
.nomouse {
  pointer-events: none;
  user-select: none;
}
.ident-layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.inverter {
  filter: invert(1);
}
.inblk {
  display: inline-block;
}
body {
  background: #777;
}
body::after {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  color: #fbb;
  content: attr(error);
}
.clicker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(187, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
.clicker::before {
  position: absolute;
  left: 0px;
  bottom: 50px;
  width: 100%;
  font: 400 11px roboto condensed;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  color: #cc0;
  text-align: center;
  content: 'Click any key to start Web Audio API!';
}
.beebody {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #666;
}
.bfx-top {
  position: relative;
  left: 0;
  top: 0;
  width: 96%;
  height: auto;
  background: rgba(255, 255, 255, 0.25);
  margin: 1%;
  padding: 1%;
  text-align: center;
}
.bfx-top .mediamenu {
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  font: 400 11px roboto condensed;
  font-size: 14px;
  font-weight: 400;
}
.bfx-top .mediamenu input,
.bfx-top .mediamenu div {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  padding: 4px;
  margin: 4px auto;
  background: rgba(255, 255, 255, 0.75);
}
.bfx-top .mediamenu .mm-item {
  width: fit-content;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.bfx-top .mediamenu .yt {
  background: rgba(255, 0, 0, 0.3);
}
.bfx-top.video-source {
  height: 360px;
}
.bfx-mid {
  position: relative;
  left: 0;
  top: 0;
  font: 400 11px roboto condensed;
  display: table;
  margin: auto;
}
.bfx-stage {
  position: relative;
  left: 0;
  top: 0;
  display: table-cell;
  margin: 2px;
  padding: 0 1px 176px;
  vertical-align: top;
  border-radius: 10px;
}
.bfx-rama {
  position: relative;
  left: 0;
  top: 0;
  margin: 3px 1px;
  padding: 2px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  min-width: 248px;
}
.bfx-rama .fxr-parval {
  display: inline-block;
  padding: 0px;
}
.bfx-rama .biquad-canvas {
  position: relative;
  left: 4px;
  top: 4px;
  width: 240px;
  height: 120px;
  background: #000000;
  border-radius: 6px;
  margin-bottom: 4px;
}
.bfx-rama[fxname="Blank"] {
  padding-bottom: 0;
}
.bfx-rama[fxname="Ratio"] .led-fx {
  top: 4px;
}
.bfx-rama .led-fx {
  position: absolute;
  left: -1px;
  top: 1px;
  border-radius: 50%;
  --ledhue: 120;
  cursor: pointer;
}
.bfx-rama .led-fx::before {
  box-shadow: 0 0 4px 1px #000000;
}
.bfx-rama.off {
  filter: saturate(0.2);
}
.bfx-rama.off .led-fx {
  --ledhue: 200;
}
.st-bottomframe {
  position: absolute;
  left: 0;
  bottom: 3px;
}
.st-bottomframe .st-endratio {
  position: relative;
  left: 0;
  top: 0;
  padding-top: 5px;
  box-shadow: inset 0 0 10px 1px black;
}
.st-bottomframe .st-spectrum {
  position: relative;
  left: 0;
  top: 0;
  border-radius: 6px;
  padding: 2px 2px 0;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
}
.st-bottomframe .st-spectrum canvas {
  position: relative;
  left: 0;
  top: 0;
  width: 250px;
  height: 120px;
  border-radius: 6px;
  background: #000000;
}
.bfx-st1 {
  background: rgba(0, 0, 0, 0.2);
}
.bfx-st1 .st-spectrum canvas {
  filter: hue-rotate(160deg);
}
.bfx-st2 {
  background: rgba(0, 0, 0, 0.4);
}
.bfx-st2 .st-spectrum canvas {
  filter: hue-rotate(220deg);
}
.bfx-st3 {
  background: rgba(0, 0, 0, 0.3);
}
.bfx-st3 .st-spectrum canvas {
  filter: hue-rotate(280deg);
}
.bfx-st4 {
  background: rgba(0, 0, 0, 0.5);
}
.bfx-st4 .st-spectrum canvas {
  filter: hue-rotate(-20deg);
}
.bfx-st1 .bfx-rama {
  background: linear-gradient(157deg, #c2f0d9, #45b82e);
}
.bfx-st2 .bfx-rama {
  background: linear-gradient(157deg, #bcbcf5, #4cb2e6);
}
.bfx-st3 .bfx-rama {
  background: linear-gradient(157deg, #f5bcf5, #804ce6);
}
.bfx-st4 .bfx-rama {
  background: linear-gradient(157deg, #f4bebe, #e052b1);
}
.mejs__audio,
audio {
  margin: 6px auto;
}
.mejs__video {
  z-index: 99;
  margin: auto;
}
.beectrl {
  position: relative;
  margin-left: 80px;
}
.beectrl::before,
.beectrl::after {
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 0 1px currentColor, 0 0 3px currentColor, 0 0 6px currentColor;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.beectrl::before {
  position: absolute;
  right: 100%;
  top: 2px;
  margin-right: 6px;
  color: #ffffff;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.5);
  content: attr(name) ':';
  max-width: 80px;
}
.beectrl::after {
  position: absolute;
  left: 100%;
  top: 3px;
  margin-left: 6px;
  color: #ffe500;
  content: attr(val);
}
.selektor {
  padding: 0 0 4px 0;
}
.selektor select {
  background: rgba(255, 255, 255, 0.5);
}
.selektor.sel-selfx {
  margin-left: 16px;
  margin-right: 3px;
}
.selektor.sel-selfx::before {
  content: none;
}
.selektor.sel-selfx option {
  background: #444;
}
.selektor.sel-selfx select {
  position: relative;
  text-shadow: 0 0 1px #000000, 0 0 3px #000000, 0 0 6px #000000;
  width: 100%;
  text-align: right;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.75));
  color: #ffffff;
  border: none;
  border-radius: 6px 6px 4px 5px;
  backdrop-filter: brightness(1) invert(1) hue-rotate(180deg) saturate(2);
}
.ranger {
  margin-right: 38px;
}
.ranger::after {
  max-width: 38px;
}
input[type=range] {
  width: 100%;
  height: 21px;
  margin: 0;
  background: transparent;
  appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  width: 10px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -9px;
  background: #ffe500;
  box-shadow: 1px 1px 2px 0px #000000;
  border: 1px solid #000000;
  appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a95c0f;
}
.beetrigger {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  padding: 2px 6px;
  border-radius: 0 8px 0 0;
  cursor: pointer;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.5);
  font: 400 11px roboto condensed;
  font-size: 14px;
  font-weight: 400;
}
.beebody.u2 {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 8px 8px 0 0;
  bottom: 0;
  top: unset;
  width: auto;
  height: auto;
  z-index: 999;
}
.beebody.u2 .bfx-top {
  display: none;
}
