// out: ../css/beefx.css, sourcemap: false
/* stylelint-disable indentation, no-eol-whitespace,
   selector-combinator-space-before,
   selector-list-comma-newline-after, rule-empty-line-before, max-empty-lines,
   declaration-block-semicolon-newline-after,  declaration-empty-line-before,
   declaration-block-single-line-max-declarations,
   declaration-colon-newline-after,
   comment-empty-line-before, comment-whitespace-inside,
   block-closing-brace-newline-after, block-closing-brace-newline-before,
   block-opening-brace-newline-after,
   block-closing-brace-space-before, block-opening-brace-space-after,
   custom-property-empty-line-before, no-descending-specificity, no-duplicate-selectors,
   number-leading-zero, number-no-trailing-zeros, length-zero-no-unit, 
   color-hex-length, color-hex-case,
   declaration-block-no-duplicate-properties,
   declaration-block-no-duplicate-property-overrides,
   declaration-block-no-shorthand-property-overrides,
   selector-type-no-unknown,
   string-no-newline, block-no-empty,
   function-parentheses-newline-inside, function-comma-newline-after,
   font-family-no-missing-generic-family-keyword
*/    

@charset: "UTF-8";

@import "../res/esm/stdlib/less/lessentials";

body {.bg(#777);}
body::after {.absRB(10px, 10px); .font(24px, 700); .ita(); color: #fbb; content: attr(error)}

.clicker {.fixLT(0, 0); .wihi(100%, 100%); z-index: 9; .bg(fade(#B00, 50%));
  backdrop-filter: blur(3px);
  &::before {.absLB(0px, 50px); width: 100%; .roco(); .font(24px, 700); .ita(); color: #cc0; 
    .txtCent(); content: 'Click any key to start Web Audio API!';}
}
.beebody {.fixLT(0, 0); .wihi(100%, 100%); .bg(#666); }

.bfx-top {.relLT(0, 0); .wihi(96%, auto); .bg(@W25); margin: 1%; padding: 1%; 
  .mediamenu {.relLT(0,0); .txtCent(); .roco(); .font(14px, 400); 
    input, div {.relLT(0, 0); .blk(); padding: 4px; margin: 4px auto; .bg(@W75);}
    .mm-item {width: fit-content; .bg(@W5); .hand();}
    .yt {.bg(fade(#f00, 30%));}
  }
  &.video-source {height: 360px;}
  .txtCent();
}
.bfx-mid {.relLT(0, 0); .roco(); display: table; margin: auto;}
.bfx-stage {.relLT(0, 0); display: table-cell; margin: 2px; padding: 0 1px 176px;
  vertical-align: top; .bora(10px);}
  @biqx: 240px;
  @biqy: 120px;
.bfx-rama {.relLT(0, 0); margin: 3px 1px; padding: 2px; color: @W; .font(14px, 400);
  .bora(8px); min-width: 248px;
  .fxr-parval {.inBlk(); padding: 0px;}
  .biquad-canvas {.relLT(4px, 4px); .wihi(@biqx, @biqy); .bg(@B); .bora(6px);
    margin-bottom: 4px;}
  .fxr-pars {}
  &[fxname="Blank"] {padding-bottom: 0;}
  &[fxname="Ratio"] .led-fx {top: 4px;}
  .led-fx {.absLT(-1px, 1px); .bora(50%); --ledhue: 120; .hand();
    &::before {box-shadow: 0 0 4px 1px @B;}
  }
  &.off {filter: saturate(.2); .led-fx {--ledhue: 200;}}
}
.st-bottomframe {.absLB(0, 3px); 
  .st-endratio {.relLT(0, 0); padding-top: 5px; box-shadow: inset 0 0 10px 1px black;}
  .st-spectrum {.relLT(0, 0); .bora(6px); padding: 2px 2px 0;
    .bg(linear-gradient(150deg, @W5, @B5));
    canvas {.relLT(0,0); .wihi(250px, 120px); .bora(6px); .bg(@B);}
  }
}
.bfx-st1 {.bg(@B2); .st-spectrum canvas {filter: hue-rotate(160deg);}}
.bfx-st2 {.bg(@B4); .st-spectrum canvas {filter: hue-rotate(220deg);}} 
.bfx-st3 {.bg(@B3); .st-spectrum canvas {filter: hue-rotate(280deg);}} 
.bfx-st4 {.bg(@B5); .st-spectrum canvas {filter: hue-rotate(-20deg);}} 
.bfx-st1 .bfx-rama {.bg(linear-gradient(157deg, hsl(150, 60%, 85%), hsl(110, 60%, 45%)));}
.bfx-st2 .bfx-rama {.bg(linear-gradient(157deg, hsl(240, 75%, 85%), hsl(200, 75%, 60%)));}
.bfx-st3 .bfx-rama {.bg(linear-gradient(157deg, hsl(300, 75%, 85%), hsl(260, 75%, 60%)));}
.bfx-st4 .bfx-rama {.bg(linear-gradient(157deg, hsl(0, 70%, 85%), hsl(320, 70%, 60%)));}
.mejs__audio, audio {margin: 6px auto;}  
.mejs__video { z-index: 99; margin: auto;}  

@beeyell: hsl(54, 100%, 50%);
@beename: @W;
@beeval: @beeyell;
@beebrown: hsl(30, 84%, 36%);

.beectrl {.rel(); margin-left: 80px;}
.beectrl::before, .beectrl::after {.font(13px, 400); .textShade(currentColor); .txtcut();}
.beectrl::before {.absRT(100%, 2px); margin-right: 6px; color: @beename; .textShade(@W5);
  content: attr(name) ':'; max-width: 80px; }
.beectrl::after {.absLT(100%, 3px); margin-left: 6px; color: @beeval; content: attr(val);}

.selektor {padding: 0 0 4px 0;
  select {.bg(@W5);}
}
.selektor.sel-selfx { margin-left: 16px; margin-right: 3px; 
  &::before { content: none;}
  option {.bg(#444);}
  select {.rel(); .textShade(@B);width: 100%; text-align: right;
    .bg(linear-gradient(45deg, @W25, @W75));
    color: @W; //filter: invert(1);
    border: none; border-radius: 6px 6px 4px 5px;
    backdrop-filter: brightness(1) invert(1) hue-rotate(180deg) saturate(2);}
}

.ranger {margin-right: 38px;}  
.ranger::after { max-width: 38px;}

input[type=range] {.wihi(100%, 21px); margin: 0; .bg(@T); //outline: 1px solid @B1;
  appearance: none;
  &::-webkit-slider-thumb {.wihi(10px, 20px); .bora(5px); .hand(); margin-top: -9px;
    background: @beeyell; box-shadow: 1px 1px 2px 0px @B; border: 1px solid @B;
    appearance: none;
  }
  &::-webkit-slider-runnable-track {.wihi(100%, 4px); .hand(); .bora(2px);
    box-shadow: 1px 1px 1px @B5; background: @B5;
    border: 1px solid @B5;
  }
  &:focus { outline: none;}
  &:focus::-webkit-slider-runnable-track { background: @beebrown; }
}

//8#b35youtube extension overrides

.beetrigger {.fixLB(0,0); z-index: 9; padding: 2px 6px; border-radius: 0 8px 0 0;
  .hand(); .cb(yellow, @B5); .roco(); .font(14px, 400);}

.beebody.u2 {.bg(@B25); backdrop-filter: blur(2px); .boraTB(8px, 0); 
  bottom: 0; top: unset; .wihi(auto, auto); z-index: 999;
  .bfx-top {.hide();}
}